{# Desktop fixed rail + mobile offcanvas (Alpine $store.ui.sidebarOpen). #}
<aside class="fixed inset-y-0 left-0 z-10 hidden h-svh w-64 flex-col border-r bg-sidebar text-sidebar-foreground md:flex">
  {% include "partials/sidebar_content.html" with badge_id="sidebar-alerts-badge" %}
</aside>

<template x-teleport="body">
  <div x-show="$store.ui.sidebarOpen" x-cloak class="md:hidden">
    <div x-show="$store.ui.sidebarOpen"
         x-transition:enter="transition-opacity ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
         x-transition:leave="transition-opacity ease-in duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
         class="fixed inset-0 z-40 bg-black/50" @click="$store.ui.sidebarOpen = false"></div>
    <div x-show="$store.ui.sidebarOpen"
         x-transition:enter="transition-transform ease-out duration-200" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0"
         x-transition:leave="transition-transform ease-in duration-150" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full"
         @keydown.escape.window="$store.ui.sidebarOpen = false"
         class="fixed inset-y-0 left-0 z-50 flex h-svh w-72 flex-col bg-sidebar text-sidebar-foreground shadow-lg">
      {% include "partials/sidebar_content.html" with badge_id="sidebar-alerts-badge-mobile" %}
    </div>
  </div>
</template>
